
{{#if currentUser}}
  Hello {{currentUser.emailAddress}}! <a href="/logout">Logout</a> or <a href="/editprofile">Edit Profile.

{{else}}
  <ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  </ul>
{{/if}}
